<h1>Changer votre mot de passe</h1>

<p>
	Pour changer votre mot de passe cliquer sur le lien suivant :
</p>

<p>
	<a href="{{ link_for_reset_password }}">Cliquer pour changer votre mot de passe</a>
</p>

<p>
	Ce lien est valable {{ token_expiration_delay }} heures, soit jusqu'au {{ token_expiration_date }}
</p>