<h1>Bienvenue</h1>

<p>
	Pour accéder à nos services merci de valider votre adresse email en cliquant sur le lien suivant :
</p>

<p>
	<a href="{{ link_for_sign_up_validation }}">Cliquer pour valider votre adresse email</a>
</p>

 <p>
	 Ce lien est valable {{ token_expiration_delay }} heures, soit jusqu'au {{ token_expiration_date }}
 </p>